<h1 class="heading-block">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <circle cx="9" cy="7" r="4" />
        <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
        <path d="M16 3.13a4 4 0 0 1 0 7.75" />
        <path d="M21 21v-2a4 4 0 0 0 -3 -3.85" />
    </svg>
    About diabetes
</h1>

<div class="info-content-section">
    <div class="info-content">
        <p>
            Diabetes is an affliction caused by a high blood glucose level. Diabetic patients are unable to regulate the amount of glucose in their body as their immune system interfere with the production or absorption of insulin. 
            Insulin, which is the hormone that converts excess glucose into energy, has to be administered externally to maintain a healthy glucose balance. 
            <br><br>
            There are different types of diabetes; all types are complex and serious. The three main types of diabetes are type 1, type 2 and gestational diabetes.
        </p>
    </div>

    <h3 class="info-header">How does diabetes affect the body?</h3>

    <div class="info-content">
        <p>
            When someone has diabetes, their body can’t maintain healthy levels of glucose in the blood. Glucose is a form of sugar which is the main source of energy for our bodies. 
            Unhealthy levels of glucose in the blood can lead to long term and short term health complications.
            <br><br>
            For our bodies to work properly we need to convert sugars from food into energy. Sugars from food are converted into glucose. A hormone called insulin is essential for the conversion of glucose into energy. 
            In people with diabetes, insulin is no longer produced or not produced in sufficient amounts by the body. When people with diabetes eat foods that contain sugars or starches, such as breads, cereals, fruit and starchy vegetables and sweets, it can’t be converted into energy and the level of glucose in their blood rises and is harmful to them.
            <br><br>
            Instead of being turned into energy the glucose stays in the blood resulting in high blood glucose levels. After eating, the glucose is carried around your body in your blood. 
            Your blood glucose level is called glycaemia. Blood glucose levels can be monitored and managed through self care and treatment.
        </p>
    </div>

    <h3 class="info-header">Symptoms</h3>
    
    <div class="info-content">
        <div id="symptoms-container">
            <div class="symptoms-container-item">
                <div>
                    <p>Common symptoms include:</p>
                    <ul>
                        <li>Being more thirsty than usual</li>
                        <li> Passing more urine</li>
                        <li>Feeling tired and lethargic</li>
                        <li>Always feeling hungry</li>
                        <li>Having cuts that heal slowly</li>
                        <li>Itching, skin infections</li>
                        <li>Blurred vision</li>
                    </ul>
                </div>

            </div>
            <div class="symptoms-container-item">
                <div id="about-diabetes-video">
                    <iframe src="https://www.youtube.com/embed/wZAjVQWbMlE">
                    </iframe>
                </div>
            </div>
        </div>

        <p>
            <b>Note:</b> This information is of a general nature only and should not be substituted for medical advice or used to 
            alter medical therapy. It does not replace consultations with qualified healthcare professionals to meet your 
            individual medical needs.
        </p>
    </div>

    <h3 class="info-header">For more information</h3>

    <div class="info-content">
        <a href="https://www.niddk.nih.gov/health-information/diabetes/overview/what-is-diabetes">https://www.niddk.nih.gov/health-information/diabetes/overview/what-is-diabetes</a>
        <br><br>
        <a href="https://www.health.vic.gov.au/chief-health-officer/diabetes">https://www.health.vic.gov.au/chief-health-officer/diabetes</a>
        <br><br>
        <a href="https://www.diabetesaustralia.com.au/about-diabetes/what-is-diabetes/">https://www.diabetesaustralia.com.au/about-diabetes/what-is-diabetes/</a>
    </div>

</div>