<div class="info-content-section">
    <div class="info-content">
        <h1><b>Password Reset:</b></h1
        <p>Enter your new password:</p>
        <form action="">
            <input type="text" name="" id="password_form">
        </form
        <p>Re-enter your password: </p>
        <form action= "">
            <input type="text" name="" id="password_form">
        </form
        <button id="confirm">Confirm</button>
    </div>
</div>

<script>
    function check() {
  if (document.getElementById('password').value ==
    document.getElementById('confirm_password').value) {
    document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'matching';
  } else {
    document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = 'not matching';
  }
}
</script>