<div class="info-content-section">
    <h1>Welcome to Diabetes@Home</h1>
    <h2>
        Home to 5,000+ patients and 100+ clinicians across Victoria and delivering 
        award winning diabetes tracking services
    </h2>
    <div class="stacked-buttons">
        <a href="/about_diabetes" class="guest-nav-button">About diabetes</a>
        <a href="/about_us" class="guest-nav-button">About us</a>
    </div>
</div>