<div class="info-content-section">
    <h1>Welcome to Diabetes@Home</h1>
    <h2>
        Home to 5,000+ patients and 100+ clinicians across Victoria and delivering 
        award winning diabetes tracking services
    </h2>
    <div id="landing-buttons">
        <a href="#" class="info-nav-button">About diabetes</a>
        <a href="#" class="info-nav-button">About us</a>
    </div>
</div>