<div class="info-content-section">
    <h1>Select Login:</h1>

    <div class="stacked-buttons">
        <a href="/login_select/patient" class="guest-nav-button">Login as patient</a>
        <a href="/login_select/clinician" class="guest-nav-button">Login as staff</a>
    </div>
</div>