<div class="info-content-section">
<<<<<<< HEAD
    <h1>Patient login:</h1>

    <form id="login-form" action="login" method="POST">
=======
    <h1>{{userType}} login:</h1>
    <form id="login-form" action="/login_select/{{userType}}" method="POST">
>>>>>>> 0430f747d4db7be318f197c3932097656d62ca07
        <div class="login-input">
            <label for="username">Email:</label>
            <input type="text" name="username" />
        </div>

        <div class="login-input">
            <label for="password">Password:</label>
            <input type="password" name="password" />
        </div>

<<<<<<< HEAD
        {{#each flash}}
            <p class="alert">{{this}}</p>
        {{/each}}
=======
>>>>>>> 0430f747d4db7be318f197c3932097656d62ca07
        <input type="submit" class="guest-nav-button" value="Sign in" />
    </form>
</div>






