<div class="info-content-section">
    <h1>{{userType}} login:</h1>
    <form id="login-form" action="/login_select/{{userType}}" method="POST">
        <div class="login-section">
            <label for="username">Email:</label>
            <input type="text" name="username"/>
        </div>
        <div class="login-section">
            <label for="password">Password:</label>
            <input type="password" name="password"/>
        </div>

        {{#each flash}}
            <p class="alert">{{this}}</p>
        {{/each}}

        <input type="submit" class="guest-nav-button" value="Sign in" />
    </form>
</div>






