<h1 id="back-block">
    <a href="/clinician">&lt; back: to patient view</a>
</h1>

<h2 id="notes-header">History of Notes on Patient: Pat Patrick</h2>

<div class="history-table-border">
    <table class="history-table">
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Notes</th>
        </tr>
        <tr>
            <td>25/04/22</td>
            <td>10:45</td>
            <td>One week follow up, Pat's health condition....</td>
        </tr>
    </table>
</div>