<form action="/clinician/register" enctype="multipart/form-data" method="POST" id="register-form">
    <input type="hidden" name = "role" value = "patient">  

    <!--new patient's details-->
    <div class="band">
        <div class="register-entry">
            <label>First Name:</label>
            <input type="text" name="first_name" required pattern="[a-zA-Z]+" title="invalid name">
        </div>
        <div class="register-entry">
            <label>Last Name:</label>
            <input type="text" name="last_name" required pattern="[a-zA-Z]+" title="invalid name">
        </div>
        <div class="register-entry">
            <label>Username:</label>
            <input type="text" name="username" required>
        </div>
        <div class="register-entry">
            <label>Email Address:</label>
            <input type="text" name="email" required pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="invalid email address">
        </div>
        <div class="register-entry">
            <label>Password:</label>
            <input type="password" name="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="must contain at least one number and one uppercase and lowercase letter, and be at least 8 characters">
        </div>
        <div class="register-entry">
            <label>Sex: (M or F)</label>
            <input type="text" name="gender" required pattern="M|F" title = "invalid gender format entered">
        </div>
        <div class="register-entry">
            <label>Date of birth: (dd/mm/yyyy)</label>
            <input type="text" name="date_of_birth" required pattern="^(0?[1-9]|[12][0-9]|3[01])[\/](0?[1-9]|1[012])[\/]\d{4}$" title = "must follow the format of day/month/year">
        </div>
        <div class="register-entry">
            <label>Upload a profile picture:</label>
            <input type="file" name="myImage" required accept="image/png, image/gif, image/jpeg">
        </div>
    </div>

    <!--new patient's biography-->
    <div class="register-container" id="patient-bio-input">
        <label>Patient Bio:</label><br>
        <textarea id="text-entry" name="bio"></textarea>
    </div>

    <div id="register-buttons">
        <button type="reset" value="Reset" id="reset-button">Reset</button>
        <button1 id="submit-button">
            <input type="submit" value = "Submit"/>
        </button1>
    </div>
</form>  