<form action="/clinician/register" enctype="multipart/form-data" method="POST" id="register-form">
    <input type="hidden" name = "role" value = "patient">  

    <div class="band">
        <div class="register-entry">
            <label>First Name:</label>
            <input type="text" name="first_name" required pattern="[a-zA-Z]+" title="invalid name">
        </div>
        <div class="register-entry">
            <label>Last Name:</label>
            <input type="text" name="last_name" required pattern="[a-zA-Z]+" title="invalid name">
        </div>
        <div class="register-entry">
            <label>Username:</label>
            <input type="text" name="username" required>
        </div>
        <div class="register-entry">
            <label>Email Address:</label>
            <input type="text" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="invalid email address">
        </div>
        <!-- need to get doucment counts and offset them by 1000 for patient id in the javascript for insertion
        either set defaults for support messages, data types etc pr redirect the clinician to that patients view page for clinician to edit the medical data}}-->

        <div class="register-entry">
            <label>Password:</label>
            <input type="text" name="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="must contain at least one number and one uppercase and lowercase letter, and be at least 8 characters">
        </div>
        <div class="register-entry">
            <label>Sex: (M or F)</label>
            <input type="text" name="gender" required pattern="M|F" title = "invalid gender format entered">
        </div>
        <div class="register-entry">
            <label>Date of birth: (dd/mm/yyyy)</label>
            <input type="text" name="date_of_birth" required pattern="^(0?[1-9]|[12][0-9]|3[01])[\/](0?[1-9]|1[012])[\/]\d{4}$" title = "must follow the format of day/month/year">
        </div>
        <div class="register-entry">
            <label>Upload a profile picture:</label>
            <input type="file" name="myImage" required accept="image/png, image/gif, image/jpeg">
        </div>

    </div>

    <div class="register-container" id="patient-bio-input">
        <label>Patient Bio:</label><br>
        <textarea id="text-entry" name="bio"></textarea>
    </div>

    <div id="register-buttons">
        <button type="reset" value="Reset" id="reset-button">Reset</button>
        <button1 id="submit-button">
            <input type="submit" value = "Submit"/>
        </button1>
    </div>
</form>  