<div class="record-data">

    <text1>Patient Registration Form</text1>

    <div class="forms">
        <form action="/clinician/register" enctype="multipart/form-data" method="post" id = "register">

            <input type="hidden" name = "role" value = "patient">          

            <div class = "input-boxes">
                <text1>First Name:</text1>
                <input type="text" name="first_name" required pattern="[a-zA-Z]+" title="invalid name">
            </div>

            <div class = "input-boxes">
                <text1>Last Name:</text1>
                <input type="text" name="last_name" required pattern="[a-zA-Z]+" title="invalid name">
            </div>

            <div class = "input-boxes">
                <text1>Username:</text1>
                <input type="text" name="username" required>
            </div>

            <div class = "input-boxes">
                <text1>Email Address:</text1>
                <input type="text" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="invalid email address">
            </div>

            {{! - need to get doucment counts and offset them by 1000 for patient id in the javascript for insertion}}
            {{! - either set defaults for support messages, data types etc pr redirect the clinician to that patients view page for clinician to edit the medical data}}

            <div class = "input-boxes">
                <text1>Password:</text1>
                <input type="text" name="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="must contain at least one number and one uppercase and lowercase letter, and be at least 8 characters">
            </div>


            <div class = "input-boxes">
                <text1>Gender: M or F</text1>
                <input type="text" name="gender" required pattern="M|F" title = "invalid gender format entered">
            </div>

            <div class = "input-boxes">
                <text1>Date of birth: dd/mm/yyyy</text1>
                <input type="text" name="date_of_birth" required pattern="^(0?[1-9]|[12][0-9]|3[01])[\/](0?[1-9]|1[012])[\/]\d{4}$" title = "must follow the format of day/month/year">
            </div>

            <div class = "input-boxes">
                <text1>Upload a profile picture:</text1>
                <input type="file" name="myImage" required accept="image/png, image/gif, image/jpeg">
            </div>

            <div class = "input-boxes">
                <text1>Patient Bio:</text1>
                <textarea id="text-entry" name="bio"></textarea>
            </div>

            <button type = "reset" value = "Reset" >Reset</button>

            <button1>
                <input type="submit" value = "Submit"/>
            </button1>
        </form>
    </div>
</div>