<div class="submit-modal-div">
            <div class="submission-content">
                <div class="submit-header">

                    <div class = "header-text">Confirm submission</div>

                </div>

                <div class="text">
                    <div class="confirm-top-half">
                        
                        <div class="submission-category">
                            <p> <span><b>Weight: </b></span> {{glucose_data}}</p>
                        </div>
                        
                        <div class="submission-comment">
                            <p> <span><b>Comment: </b></span> This was weighed right after dinner.</p>
                        </div>
                    </div>

                    <div class="separator"></div>

                    <div class="confirm-bottom-half">
                        <p id="submission-warning">Please ensure data is correct as data is unchangeable after submitting.</p>
                        <a id="cancel-submission">Cancel</a>
                        <a id="submit-submission">Submit</a>
                    </div>
                </div>
            </div>
        </div>