<div class="submit-modal-div">
            <div class="submission-content">
                <div class="submit-header">

                    <div class = "header-text">Confirm submission</div>

                </div>

                <div class="text">
                    <div class="confirm-top-half">
                        
                        <div class="submission-category">
                            <p> <span><b>Weight: </b></span> {{glucose_data}}</p>
                        </div>
                        
                        <div class="submission-comment">
                            <p> <span><b>Comment: </b></span> {{comments}}</p>
                        </div>
                    </div>

                    <div class="separator"></div>

                    <div class="confirm-bottom-half">
                        <p id="submission-warning">Please ensure data is correct as data is unchangeable after submitting.</p>
                        <a href="/patient/submission/glucose" id="cancel-submission">Cancel</a>
                        <form action="/patient/record" method="POST">
                            <input type="hidden" name="glucose_data" value={{glucose_data}}>
                            <input type="hidden" name="comments" value={{comments}}>
                            <input type="submit" id="submit-submission" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
