<div class="record-glucose">
    <div class = "glucose-data">
        {{! Image inserted here }}
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-droplet" width="45" height="45" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M6.8 11a6 6 0 1 0 10.396 0l-5.197 -8l-5.2 8z" />
        </svg>

    </div>

    {{! Submit buttons and the comments text box}}

    {{! Mental note on behaviour: when text box is in focus, an outline will appear, yay or nay?}}

    <div class = "forms">
        <form action="/record" method="POST">

            <div class = "data-recording">
                <txt1> Glucose: </txt1>               
                <input type="data" name = "glucose_data">
                <txt2> mmol/L</txt2>                
            </div>

            <textarea placeholder="Add a comment.." name = "comments"></textarea>
            
            <div>
                <button1><input type="submit"/></button1>
            </div>

        </form>
        
        <a href = "/record">
            <button2><input type="submit" value = "Cancel"/></button2>
        </a>
    </div>
</div>
