/* main html body */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Didact Gothic';
}

/*******************************************************************************
header section 
*******************************************************************************/
header{
    background-color: rgba(25, 97, 160, 1);
    padding: 15px;
    padding-top: 0;
    text-align: center;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    height: 55px;
}

#menu-logo{
    float: left;
    margin-top: 9px;
    font-size: 25px;
    color: white;
    text-decoration: none;
}


/* navigation bar */
header li{
    display: none;
    padding-left: 1.5%;
    font-size: 17px;
}

header li a:link,
header li a:visited,
header li a:active{
    color: white;
    text-decoration: none;
}

header li a:hover{
    text-decoration: underline;
}

header ul #username{
    float: right;
    color: white;
    margin-top: -5px;
    margin-right: 12px;
    font-size: 25px;
}

header ul #logout a{
    float: right;
    border-radius: 5px;
    background-color: aliceblue;
    color:rgba(25, 97, 160, 1);
    margin-top: -2px;
    padding: 5px;
}

header ul #logout a:hover{
    background-color: rgb(204, 204, 204);
}

.active{
    background-color:rgb(20, 77, 128);
    border-radius: 5px;
    padding: 5px;
}


/* header hamburger menu for smaller screen sizes */
header button{
    background: none;
    border: none;
    float: right;
    margin-top: -12px;
}

header button:hover{
    cursor: pointer;
}

.hamburger-menu{
    background-color: rgb(23, 84, 138);
    border-radius: 25px;
    margin: 50px 15px auto 100px;
    color: white;
}

.hamburger-menu h2{
    font-size: 35px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.359);
    padding: 20px;
}

.hamburger-menu ul{
    padding: 20px;
    padding-top: 0px;
    margin-top: -15px;
}

.hamburger-menu li{
    display: block;
    font-size: 30px;
    padding-bottom: 15px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.118);;
}

.hamburger-menu li svg{
    vertical-align: middle;
    margin-top: -10px;
}

/*******************************************************************************
generic overlay styling
*******************************************************************************/
#submission-overlay,
#hamburger-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*******************************************************************************
main section 
*******************************************************************************/
main{
    margin-top: 65px;
}

.header2{
    height: auto;
    width: 100vw;
    background:  rgba(25, 97, 160, 1);
}

.header2 h1{
    width: 20vw;
}


/* heading block for smaller screen sizes */
.heading-block{
    background-color: rgba(25, 97, 160, 1); 
    color: white;
    font-style: bold;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.heading-block svg{
    vertical-align: text-bottom;
}

/*******************************************************************************
generic bands and cards styling for patientUI
*******************************************************************************/
.band{
    width: 90%;
    max-width: 1800px;
    margin: auto;
    padding-top: 20px;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 50px;
}

.card {
    border-radius: 25px;
    border: 2px solid black;
    background: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-size: 110%;
    line-height: 150%;
    margin-bottom: 20px;
}

/*******************************************************************************
record data card styling
*******************************************************************************/
.record-card{
    background-color: white;
}

.record-card-comment{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.no-comment-text{
    color: grey;
}

.record-card-header {
    padding-left: 25px;
    padding-top: 15px;
    color: rgba(25, 97, 160, 1);
    font-size: 120%;
}

.record-card-header svg,
.record-card-header h2{
    display: inline-block;
    vertical-align: middle;
}

.blue-text{
    color: rgba(25, 97, 160, 1);
}

.record-card-entry{
    padding-left: 25px;
    margin: 0;
    color: grey;
}

.value-text{
    color: black;
    font-size: 350%;
}

a.btn-record{
    background-color: white; 
    width: 175px;
    font-size: 120%;
    border-radius: 15px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    line-height: 0px;
    text-decoration: none;
    color: black;
    text-align: center;
}

a.btn-record:visited{
    color: black;
}

a.btn-record:hover{
    background-color: rgb(242, 242, 242);
}

/*******************************************************************************
patientUI homepage styling
*******************************************************************************/
#welcome-message{
    text-align: center; 
}


/* generic styling */
#top-engager,
#homepage-ranking,
#record-today{
    background-color: rgb(71, 138, 196);
    border: none;
    color: white;
}


/* homepage redirect button cards styling */
#record-today-btn,
#view-leaderboard-btn{
    background-color: rgba(25, 97, 160, 1);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    padding: 10px;
}

#record-today-btn:hover,
#view-leaderboard-btn:hover{
    text-decoration: underline;
}


/* clinician says card */
#welcome-message{
   text-align: center; 
}

#clinician-says{
    border-radius: 0;
    box-shadow: 5px 5px rgb(84, 84, 84);
}

#clinician-says h2{
    background-color: rgb(241, 241, 241);
    margin-top: 0;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
}

#clinician-says h2 svg{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 3px;
}

#clinician-says p{
    margin-top: 0;
    padding-left: 25px;
    padding-right: 25px;
}


/* record today card */
#record-today h2{
    text-align: center;
    font-size: 35px;
    display: inline-block;
    vertical-align: middle;
}

#record-today h2 svg{
    display: inline-block;
    vertical-align: middle;
}

#record-today ul{
    margin-top: -15px;
    padding: 0;
    text-align: center;
    list-style-type: none;
    font-size: 20px;
}

#record-today li{
    padding-bottom: 20px;
}

#record-today li svg{
    vertical-align: middle;
}

.entry-completed {
    text-decoration-line: line-through;
    opacity: 50%;
}


/* top engager card */
#top-engager h3{
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}

#top-engager h3 svg{
    vertical-align: middle;
}

#top-engager-display{
    color: black;
    background-color: #00DB00;
    border: 3px solid black;
    margin: 0 30px 20px 30px;
    display: inline-block;
    vertical-align: middle;
}

.engager-name{
    float: left;
    padding-left: 15px;
}

#top-engager-display svg,
.engager-percent{
    float: right;
    padding-right: 15px;
}


/* ranking card */
#homepage-ranking h2{
    text-align: center;
    font-size: 35px;
}

#homepage-ranking-content{
    margin: 0 40px 20px 40px;
    text-align: center;
    top: 0;
}

#homepage-ranking-content h3{
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
}

#homepage-ranking-content h3 img{
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}


/*******************************************************************************
record submission styling
*******************************************************************************/
.record-data{
    width: 100vw;
    height: auto;
    font-family: 'Didact Gothic';
    font-size: x-large;
    color: rgb(112,112,112);
}

.record-data svg{
    padding-top: 80px;
    margin-left: 50%;
}

.forms{
    text-align: center;
}

.input-boxes{
    text-align: center;
    margin-top: 50px;
}

.forms txt1{
    background-color: white; 
    text-align: center;
}

.forms txt2{
    background-color: white; 
    text-align: center;
}

input[type=data]{
    padding-right: 10px;
    width: 50%;
    max-width: 250px;
    text-align: right;
    border-style: none;
    border-bottom: 2px solid rgb(112,112,112);
    background-color: white; 
    font-family: 'Didact Gothic';
    font-size: x-large;
    color: rgb(112,112,112);
}

.forms textarea {
    word-wrap: normal;
    width: 70%;
    margin-top: 40px;
    border: 2px solid rgb(112,112,112);
    border-radius: 10px; 
    background-color: white; 
    padding-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    font-size: x-large;
    font-family: 'Didact Gothic';
    font-size: x-large;
    color: rgb(112,112,112);
    resize: none;
}

input[type=button]{
    border: 2px solid rgb(112,112,112);
    border-radius: 10px;
    background-color: white; 
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
    font-family: 'Didact Gothic';
    font-size: large;
    color: rgb(112,112,112);
}

input[type=button]:hover {
    border: 2px solid black;
    color: black;
}

input[type=data]:focus{
    color: black;
}

textarea:focus{
    color:black;
}

.forms button1 {
    float: right;
    margin-right: 14%;
}

.forms button2 {
    float: left;
    margin-left: 14%;
}


/* confirm submission overlay */
#confirm-top-half {
    padding-top: 20px;
    background-color: white;
}

#separator {
    background: rgba(112, 112, 112, 1);
    padding-top: 1px;
}

#confirm-bottom-half {
    padding-top: 10px;
    background-color: white;
    padding-bottom: 50px;
    
}

#submission-content {
    background-color: white;
    margin: auto;
    margin-top: 100px;
    width: 55%;
    font-family: 'Century Gothic'
}

#submission-content h2{
    width: 100%;
    background-color:  rgba(25, 97, 160, 1);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Didact Gothic';
    text-align: center;
    font-size: 30px;
}

#submission-category {
    display: flex;
    padding-left: 5%;
    font-size: 24px;
}

#submission-comment {
    display:flex;
    padding-left: 5%;
    font-size: 16.8px;
    margin-top: -20px;
    text-align: left;
}


#submission-warning {
    text-align: center;
    font-size: 15.6px
}

#cancel-submission{
    padding-left: 5%;
    float: left;
    font-size: 24px;
    text-decoration: none;
}

#cancel-submission:hover {
    text-decoration: underline;
    cursor: default;
}

#submit-submission {
    float:right;
    background-color: white;
    font-size: 24px;
    border-style: none;
    margin-right: 5%;
    font-family:'Century Gothic'
}

#submit-submission:hover {
    text-decoration: underline;
    
}

#submission-overlay{
    background-color: rgba(0,0,0,0.5);
}

#submission-text {
    color: black;
    font-family:'Century Gothic'
}

#text-entry {
    overflow-x: hidden;
    word-break:break-all;
}

.confirm-format {
    padding-left:10px;
}

/*******************************************************************************
clinician dashboard styling
*******************************************************************************/
/* styling for data/comments tab */
.dashboard-tabs{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    margin-top: 80px;
}

.dashboard-tabs input[type="radio"]{
    display: none;
}

.dashboard-tabs label{
    padding: 10px;
    background: white;
    border: 1px solid rgba(25, 97, 160, 1);
}

.dashboard-tabs .dashboard-tab{
    width: 100%;
    order: 1;
    display: none;
    border: none;
}

.dashboard-tabs .dashboard-tab td,
.dashboard-tabs .dashboard-tab th{
    padding: 8px;
}

.dashboard-tabs .dashboard-tab tr:hover{
    background-color: rgb(237, 237, 237);
}

.dashboard-tabs .dashboard-tab th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(25, 97, 160, 1);
    color: white;
}

.dashboard-tabs input[type="radio"]:checked + label + .dashboard-tab{
    display: table;
}

.dashboard-tabs input[type="radio"]:checked + label{
    background:rgba(25, 97, 160, 1);
    color: white;
    border-bottom: none;
}

/* colours entry red if outside threshold */
.data-warning {
    background-color: rgba(255,0,0,0.29);
}


/*******************************************************************************
media queries
*******************************************************************************/

@media only screen and (min-width: 1100px){
    .heading-block{
        display: none;
    }
    #hamburger-btn{
        display: none;
    }
    .hamburger-menu{
        display: none;
    }
    header li{
        display: inline;
    }
}


@media only screen and (min-width: 1000px) {
    .band {
      grid-template-columns: 1fr 1fr;
    }
}